.pokemonslider_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
  height: 100%;
  /* background-color: black ; */
  /* border-radius: 5px; */
  overflow: hidden;
}

.pokemonslider_page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  border-radius: 5px;
  overflow: hidden;
}

