.box{
  height: 500px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.img-box{
  height: 175px;
  width: 100%;
  overflow: hidden;
  object-fit: contain;

}

img{
  height: 100%;
  width: auto;
}

a {
  text-decoration: none;
}