.logo_small {
  padding: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  /* background-color: rgba(84, 70, 164, 0.586); */
  width: 220px;
  height: 80px;
  margin-left: 20px;
  margin-top: 5px;
}

.logo_small:hover{
  margin-top: 2px;
}

.logo_big {
  margin: 0;
  padding: 0;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 250px;
  /* background-color: rgba(84, 70, 164, 0.586); */
}

.logo_big:hover{
  margin-bottom: 3px;
}