.attackorder_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.attackorder_box_label {
  display: block;
}

.attackorder_box_label {
  margin-top: 10px;
  margin-bottom: 5px;
}