.pokemoncard_box{
  height: 250px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pokemoncard_img-box{
  height: 130px;
  width: 100%;
  overflow: hidden;
  object-fit: contain;

}

.pokemoncard_img-box img{
  height: 100%;
  width: auto;
}

.pokemoncard_data{
  flex-direction: row;
}

.pokemoncard_box a {
  text-decoration: none;
}

.pokemoncard_data h3{
  margin-top: 5px;
  margin-bottom: 5px;
}
.pokemoncard_data h4{
  display: inline;
  margin-bottom: 10px;
}

.pokemoncard_types {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}