*{
  margin: 0;
  padding: 0;
}

.typecard_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-color: rgba(119, 146, 208, 0.686);
  width: fit-content;
  height: 30px;
  padding: 0 8px;
  text-indent: 0;
  margin-right: 5px;
  border-radius: 5px;
  color: rgb(229, 229, 229);
}